/* Custom Global Palette & Theme */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #022c22;
  color: #fecdd3;
}

.font-serif {
  font-family: 'Cormorant Garamond', serif;
}

/* Color Helpers */
.bg-burgundy-card {
  background-co...
